<div class="container">
	<h1 class="jumbotrol-heading">About Us</h1>
	<div class="container">
		<div class="row">
			<div class="col">
				<p><h4> Who are we? </h4> We are Electronic Product Reviews </p>
			</div>
			<div class="col">
				<p><h4> What we do</h4> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Est placerat in egestas erat imperdiet sed euismod nisi porta.</p>
			</div>
			<div class="col">
				<p><h4> Why we do it</h4> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Est placerat in egestas erat imperdiet sed euismod nisi porta.</p>
			</div>
			<div class="col">
				<p><h4> Location </h4> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Est placerat in egestas erat imperdiet sed euismod nisi porta.</p>
			</div>
		</div>
	</div>

