<div class="container">
	<h1 class="jumbotrol-heading">Welcome to EPR Home</h1>
	<div class="container">
		<div class="row">
			<div class="col">
				<p> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Vel turpis nunc eget lorem dolor sed viverra ipsum. Vitae suscipit tellus mauris a diam maecenas sed enim ut. Cras fermentum odio eu feugiat pretium nibh ipsum consequat. Rhoncus aenean vel elit scelerisque mauris pellentesque. Eget dolor morbi non arcu risus quis varius quam quisque. </p>
			</div>
			<div class="col">
				<p><%= image_tag "iphone.jpg", size: "250x250" %></p>
			</div>
			<div class="col">
				<p><%= image_tag "tv.jpg", size: "350x250" %></p>
			</div>
			<div class="col">
				<p><%= image_tag "ipad.jpg", size: "350x250" %></p>
			</div>
		</div>
	</div>
