<div class="container">
	<h1 class="jumbotrol-heading">Product</h1>
	<div class="container">
		<div class="row">
			<div class="col">
				<p> kmbfdvdjnkjnknv vnvrnvrininvrv ivrnvrvrnvriv invrivrnvrinvr lkvrmlvrlvrmv </p>
			</div>
			<div class="col">
				<p> jhbfeufeh cuefenbufed ujdwbdwhdwdw udwbvudwudwhbdwu udwidwj </p>
			</div>
		</div>
	</div>
